body{
    background-color: rgb(255, 255, 255);

    font-family: Arial, sans-serif;
    
    margin: 0;
    
}
.navbar{
    font-family: sans-serif;
    background-color: rgb(249, 249, 249);
    height: 11vh;
   
    display: flex;
    align-items: center;
    color: black;
    position: sticky;
    z-index: 1000;
    top: 0;



}
.menu {
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #ccc;
  background: white;
  width: 150px;
  display: none;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item:hover {
  background: #f0f0f0;
}

.show {
  display: block;
}
.menu.show{
    display:block;
}

.renthim{
    display: flex;
    align-items: center;
    margin-left: 5vh;
    gap: 0.25vh;
}
.rent{
    
    
    font-size: 1.5rem;
    font-weight: bold;
    color: darkorange;

}

.himalayas{
    
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.solan{
    
    margin-left: 3vh;
    background-color: rgb(255, 115, 0);
    border-radius: 8px;
    color: white;
    display: flex; 
    width:8%;
    text-align:center;
    align-items: center;
    padding: 8px;
    border: none;
    font-size: 16px;
}
.solan img{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.solan:hover{
    
    cursor: pointer;
}


.midnav {
     width: 40vh;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
    transform: translateX(40%);
    font-size: 18px;
    color: rgb(0, 0, 0);
    
}
.midnav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}
.midnav a:hover{
    
    color: darkorange;
    
    text-decoration: underline;
}

.login{
    margin-left: auto;
    margin-right: 10vh;

}
.log{
    font-size: 18px;

}
.log:hover{
    
    cursor: pointer;
    
}
.signup{
    background-color: rgb(255, 115, 0);
    border-radius: 25px;
    color: white;
    padding: 8px 15px;
    border: none;
    font-size: 18px;
}
.signup:hover{
    
    cursor: pointer;
}
.container{
    width: 100%;
    max-height: 88vh;
    margin-top: -9vh;
    
     
}
 .slide-wrapper{
    position: relative;
    max-width: 90vw;
    margin: 0 auto;
 }
.slider{
    display: flex;
    aspect-ratio: 16/7.5;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.6);
    border-radius: 20px;
    

}


 div.text{ 
    z-index: 10;
    
    position: absolute;
    margin-top: -65vh;
    margin-left: 15vh;
    transform: translate(50%);
    

    
 } 
.movein{ 
    font-size: 58px;
    font-family: poppins;
    font-weight: 650;
    color: white;
    
   
}
 .yourroom{ 
    margin-top: 2vh;
    font-size: 25px;
    font-family: poppins;
    font-weight: 400;
    opacity: 0.6;
    color: white;
    margin-left: 5vh;
   
    
}

 .search{ 
    width: 70%;
    z-index: 10;
    border: #511212;
    position: absolute;
    margin-top: -30vh;
    margin-left: 24vh;
    
}

 .search input{ 
    border: 2px solid black;
    width: 100%;
    border-radius: 30px;
    padding: 12px 20px;
    height: 3vh;
}

.slider img{
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start;
    animation: autoSlide 15s infinite;
}
 @keyframes autoSlide {
    0% { scroll-snap-align: start; transform: translateX(0%); }
    10% { transform: translateX(0%); }

    22% { transform: translateX(-100%); }
    50% { transform: translateX(-100%); }
   
    60%{ transform: translateX(-200%); }
    80% { transform: translateX(-200%); }
    
    90% { transform: translateX(0%); }
    100% { transform: translateX(0%); }
  }
::-webkit-scrollbar{
    display: none;
}
.slidernav{
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slidernav a{
    width: 2rem;
    height: 0.35rem;
    border-radius: 30%;
    background-color: white;
    opacity: 0.5;
    transition: opacity ease 250ms;
}
.slidernav a:hover{
    opacity: 1;
}

    .content{
    width: auto;
    /* margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 4vh; */
   
    color: rgb(0, 0, 0);
    display: flex;
  
    flex-direction: column;
   

}
.wassup {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0vh;
    margin-left: 20%;
    font-family: poppins;
    
}
.sent{
    font-size: 25px;
    font-weight: 460;
    margin-left: 25%;
    font-family: poppins;
    opacity: 0.7;
  max-width: 90vh;
    line-height: 4vh;
    
    
}

.option{
    background-color:  #511212;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.firstoption{
    background-color: aqua;
   width: 36vw;
   height: 36vh;
   margin-top: 2rem;
}
.secondoption{
    background-color: yellow;
   width: 36vw;
   height: 36vh;
   margin-top: 3rem;
}
.thirdoption{
    background-color: lightgreen;
   width: 36vw;
   height: 36vh;
   margin-top: 3rem;
   margin-bottom: 2rem;
}
.footer{
    background-color: #511212;
    margin-top: 10vh;
    height: 40vh;
    border-radius: 14px;
    margin-left: 18vh;
    margin-right: 18vh;
}
.end{
    background-color: #511212;
    margin-top: 10vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 4vh;
}